/* Custom Font */
@font-face {
  font-family: "Dancing";
  src: url(../Assets/Fonts/BebasNeue.ttf);
}

/* Header styles */
header {
  font-family: Dancing;
  font-size: 30px;
  background-color: rgba(
    0,
    0,
    0,
    0
  ); /* Use rgba to set a transparent background */
  color: white;
  text-align: left;
  margin-bottom: 75px;
}

/* Updated logo styles */
.logo {
  font-size: 40px;
  font-weight: bold;
  margin-left: 20px;
  text-decoration: none; /* Remove underline */
  color: white; /* Set the text color to white */
  transition: color 0.3s ease, transform 0.3s ease; /* Add smooth transition for color and scale */
}

.logo:hover {
  color: purple; /* Change the color on hover */
  transform: scale(1.05); /* Add hover effect */
}

/* Styles for the background image and overall layout */
.artist-background {
  background-image: url("../Assets/Images/BlueSmoke.png");
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
}

.container {
  font-family: "Dancing";
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.event {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.event h2 {
  font-size: 24px;
  margin: 0;
}

.event p {
  margin: 10px 0;
  font-size: 16px;
}

.reviews {
  margin-top: 20px;
}

.review {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.review p {
  margin: 0;
  font-size: 16px;
}

/* Footer styles */
footer {
  font-family: "Dancing";
  margin-top: 125px;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.social-links {
  list-style: none;
  display: flex; /* Display the icons in a row */
  justify-content: center;
  margin-bottom: 20px;
}

.social-links li {
  margin: 0 15px;
}

.social-links a {
  text-decoration: none;
  color: white; /* Set the icon color to black */
  transition: opacity 0.3s ease;
  display: flex;
  align-items: center;
  font-size: 24px;
}

.social-links a i {
  margin-right: 10px;
}

/* Footer link hover effect */
.social-links a:hover {
  color: purple; /* Change the icon color to purple on hover */
  opacity: 0.7;
}

/* Navigation link hover effect */
.nav-links a:hover {
  color: purple;
  transform: scale(1.05);
}

/* Mobile Styles */
@media screen and (max-width: 768px) {
  header {
    padding: 10px; /* Reduce header padding */
    text-align: center;
  }

  .logo {
    font-size: 30px; /* Decrease logo font size */
    text-align: center;
    margin-right: 20px;
  }

  .social-links {
    text-align: center; /* Center the list horizontally */
  }

  .social-links li {
    display: inline-block; /* Make list items appear in a horizontal line */
    margin: 0 10px; /* Add margin around each social icon */
  }

  footer {
    padding: 10px; /* Reduce footer padding */
    font-size: 13px;
    margin-top: 250px;
  }
}
