/* Reset some default styles */
body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  display: inline;
  margin-right: 20px; /* Adjust the spacing between links if needed */
}

.footer-artists {
  padding-bottom: 15px;
}

/* Basic styling */
body {
  font-family: Arial, sans-serif;
  text-align: center;
}

/* Add CSS for scrolling transition here */
.fade-in,
.fade-on-scroll-1,
.fade-on-scroll-2,
.fade-on-scroll-3,
.fade-on-scroll-4,
.fade-on-scroll-5 {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  max-width: 800px; /* Adjust the maximum width as needed */
  margin: 0 auto; /* Center the content horizontally */
  padding: 20px; /* Add some padding for spacing */
}

/* Custom Font */
@font-face {
  font-family: "Dancing";
  src: url(../Assets/Fonts/BebasNeue.ttf);
}

/* Header styles */
header {
  font-family: Dancing;
  font-size: 30px;
  color: black;
  padding: 10px 0;
  text-align: left;
}

/* Dropdown menu styles */
.dropdown-menu {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown-menu li {
  display: block;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-menu {
  display: block;
}

/* Style the dropdown link */
.dropdown-link {
  position: relative;
  padding: 10px 20px;
}

/* Style the dropdown menu items */
.dropdown-menu li a {
  display: block;
  padding-top: 5px;
  color: black;
  transition: color 0.3s ease;
  font-size: 25px;
}

/* Add hover effect to dropdown menu items */
.dropdown-menu li a:hover {
  color: purple;
}

.logo {
  font-size: 40px;
  font-weight: bold;
  margin-left: 20px;
  text-decoration: none; /* Remove underline */
  color: black; /* Set the text color to black */
  transition: color 0.3s ease, transform 0.3s ease; /* Add smooth transition for color and scale */
}

.logo:hover {
  color: purple; /* Change the color on hover */
  transform: scale(1.05); /* Add hover effect */
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 0px;
}

.nav-links a {
  text-decoration: none;
  color: black;
  display: inline-block;
  padding: 10px 20px; /* Adjust this for spacing */
  min-width: 48px;
  transition: color 0.3s ease;
}

.intro {
  padding: 150px 0;
}

.intro h1 {
  font-family: "Dancing";
  font-size: 50px;
  font-weight: bold;
  margin-top: 50px;
}

.intro p {
  font-family: "Dancing";
  margin-top: 20px;
  font-size: 20px;
  font-weight: normal;
}

.featured-video {
  font-family: "Dancing";
  margin-top: 20px;
  font-size: 20px;
  font-weight: normal;
}

.catalog {
  font-family: "Dancing";
  margin-top: 100px;
  font-size: 20px;
  font-weight: normal;
}

.video {
  margin-top: 30px;
}

/* Footer styles */
footer {
  font-family: "Dancing";
  margin-top: 200px;
  color: black;
  padding: 20px 0;
  text-align: center;
}

.social-links {
  list-style: none;
  display: flex; /* Display the icons in a row */
  justify-content: center;
  margin-bottom: 20px;
}

.social-links li {
  margin: 0 15px;
}

.social-links a {
  text-decoration: none;
  color: black; /* Set the icon color to black */
  transition: opacity 0.3s ease;
  display: flex;
  align-items: center;
  font-size: 24px;
}

.social-links a i {
  margin-right: 10px;
}

/* Footer link hover effect */
.social-links a:hover {
  color: purple; /* Change the icon color to purple on hover */
  opacity: 0.7;
}

/* Navigation link hover effect */
.nav-links a:hover {
  color: purple;
  transform: scale(1.05);
}

.background-video {
  position: fixed;
  top: 0px;
  right: 0px;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  opacity: 0.2;
}

.cookie-banner {
  font-size: large;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 90%;
  background-color: black;
  color: white;
  padding: 10px;
  text-align: center;
  display: none;
}

.cookie-banner p {
  margin: 0;
  display: inline-block;
}

#accept-cookies,
#reject-cookies {
  background-color: #00ff08;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
}

#reject-cookies {
  background-color: #ff1100;
}

@media screen and (max-width: 768px) {
  .background-video {
    position: fixed; /* Change from absolute to fixed for full screen coverage */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Set the height to 100% for full screen coverage */
    object-fit: cover;
    z-index: -1; /* Ensure the video is behind other content */
  }

  header {
    padding: 10px; /* Reduce header paddings */
    text-align: center;
  }

  .logo {
    font-size: 40px; /* Decrease logo font size */
    text-align: center;
    margin-right: 20px;
  }

  .nav-links {
    justify-content: center;
  }

  .nav-links li {
    margin: 0 5px; /* Reduce margin between nav links */
  }

  .nav-links a {
    padding: 10px 0px; /* Adjust nav link padding */
    font-size: 20px; /* Decrease nav link font size */
  }

  .intro h1 {
    font-size: 30px; /* Decrease intro section header font size */
  }

  .intro p {
    font-size: 20px; /* Decrease intro section paragraph font size */
  }

  .video iframe {
    width: 100%; /* Make the video iframe responsive */
    height: auto;
  }

  footer {
    padding: 10px; /* Reduce footer padding */
    font-size: 13px;
    margin-top: 100px;
  }

  .social-links li {
    margin: 0 10px; /* Reduce margin between social icons */
  }

  .social-links a {
    font-size: 20px; /* Decrease social icon font size */
  }

  .dropdown-menu li a {
    display: block;
    padding: 3px;
    padding-left: 0px;
    font-size: 17px;
  }
}
