/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Basic styling */
body {
  font-family: Arial, sans-serif;
  text-align: center;
}

/* Custom Font */
@font-face {
  font-family: 'Dancing';
  src: url(../Assets/Fonts/Dancing/DancingScript-VariableFont_wght.ttf);
}

/* Header styles */
header {
  font-family: Dancing;
  font-size: 30px;
  color: black;
  padding: 10px 0;
  text-align: left;
}

/* Dropdown menu styles */
.dropdown-menu {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown-menu li {
  display: block;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-menu {
  display: block;
}

/* Style the dropdown link */
.dropdown-link {
  position: relative;
  padding: 10px 20px;
}

/* Style the dropdown menu items */
.dropdown-menu li a {
  display: block;
  padding: 5px 20px;
  text-decoration: none;
  color: black;
  transition: color 0.3s ease;
  font-size: 25px;
}

/* Add hover effect to dropdown menu items */
.dropdown-menu li a:hover {
  color: purple;
}

/* Updated logo styles */
.logo {
  font-size: 40px;
  font-weight: bold;
  margin-left: 20px;
  text-decoration: none; /* Remove underline */
  color: black; /* Set the text color to black */
  transition: color 0.3s ease, transform 0.3s ease; /* Add smooth transition for color and scale */
}

.logo:hover {
  color: purple; /* Change the color on hover */
  transform: scale(1.05); /* Add hover effect */
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 0px;
}

/* Styles for navigation links */
.nav-links a {
  text-decoration: none;
  color: black;
  display: inline-block;
  padding: 10px 20px; /* Adjust this for spacing */
  min-width: 48px;
  transition: color 0.3s ease;
}

/* Intro section styles */
.intro {
  padding: 150px 0;
}

.intro h1 {
  font-size: 40px;
  font-weight: bold;
}

.intro p {
  margin-top: 20px;
  font-size: 18px;
  font-weight: normal;
}

.video {
  margin-top: 30px;
}

/* Footer styles */
footer {
  margin-top: 125px;
  color: black;
  padding: 20px 0;
  text-align: center;
}

.social-links {
  list-style: none;
  display: flex; /* Display the icons in a row */
  justify-content: center;
  margin-bottom: 20px;
}

.social-links li {
  margin: 0 15px;
}

.social-links a {
  text-decoration: none;
  color: black; /* Set the icon color to black */
  transition: opacity 0.3s ease;
  display: flex;
  align-items: center;
  font-size: 24px;
}

.social-links a i {
  margin-right: 10px;
}

/* Footer link hover effect */
.social-links a:hover {
  color: purple; /* Change the icon color to purple on hover */
  opacity: 0.7;
}

/* Navigation link hover effect */
.nav-links a:hover {
  color: purple;
  transform: scale(1.05);
}

/* Background video styles */
.background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  opacity: 0.5;
}

/* Mobile Styles */
@media screen and (max-width: 768px) {
  header {
    padding: 5px; /* Reduce header padding */
    text-align: center;
  }

  .logo {
    font-size: 30px; /* Decrease logo font size */
    text-align: center;
  }

  .nav-links {
    justify-content: center;
  }

  .nav-links li {
    margin: 0 5px; /* Reduce margin between nav links */
  }

  .nav-links a {
    padding: 10px 0px; /* Adjust nav link padding */
    font-size: 16px; /* Decrease nav link font size */
  }

  .intro h1 {
    font-size: 22px; /* Decrease intro section header font size */
  }

  .intro p {
    font-size: 16px; /* Decrease intro section paragraph font size */
  }
  
  .video iframe {
    width: 100%; /* Make the video iframe responsive */
    height: auto;
  }

  footer {
    padding: 10px; /* Reduce footer padding */
    font-size: 10px;
    margin-top: 275px;
  }

  .social-links li {
    margin: 0 10px; /* Reduce margin between social icons */
  }

  .social-links a {
    font-size: 20px; /* Decrease social icon font size */
  }

  .dropdown-menu li a {
    display: block;
    padding: 3px;
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
    font-size: 15px;
  }
}