/* Custom Font */
@font-face {
  font-family: 'Dancing';
  src: url(../Assets/Fonts/Dancing/DancingScript-VariableFont_wght.ttf);
}

/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Apply a default font family */
body {
    font-family: Arial, sans-serif;
}

.video {
  margin-top: 30px;
}

/* Styles for the background image and overall layout */
.artist-background {
    background-image: url("../Assets/Images/grad2.jpg");
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
}

/* Styles for the header */
.artist-header {
    background-color: rgba(0, 0, 0, 0.0);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100; /* Ensure the header is above the background */
}

.home-link {
	font-family: Dancing;
    font-size: 30px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-right: auto; /* Push home link to top left */
    transition: color 0.3s; /* Add transition effect */
}

.home-link:hover {
    color: purple; /* Change color on hover */
}

.header-icons a {
    color: white;
    font-size: 24px;
    margin-right: 30px; /* Add spacing between icons */
    text-decoration: none;
    transition: color 0.3s; /* Add transition effect */
}

.header-icons a:hover {
    color: purple; /* Change color on hover */
}

/* Styles for the artist information section */
.artist-info {
    text-align: center;
    padding: 200px 0 50px;
    color: white;
}

.artist-title {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
}

.artist-roles {
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 20px;
}

.artist-quote {
	font-size: 15px;
    font-style: italic;
    font-weight: normal;
}

/* Styles for the footer */
.artist-footer {
    background-color: rgba(0, 0, 0, 0.0);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    color: white;
    font-size: 14px;
    font-weight: normal;
}
