.fade-on-scroll {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
}


/* Reset some default styles */
body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  display: inline;
  margin-right: 20px; /* Adjust the spacing between links if needed */
}

.footer-artists {
  padding-bottom: 15px;
}

/* Basic styling */
body {
  text-align: center;
}

/* Custom Font */
@font-face {
  font-family: "Dancing";
  src: url(../Assets/Fonts/BebasNeue.ttf);
}

/* Header styles */
header {
  font-family: Dancing;
  font-size: 30px;
  background-color: rgba(
    0,
    0,
    0,
    0
  ); /* Use rgba to set a transparent background */
  color: white;
  padding: 10px 0;
  text-align: left;
  margin-bottom: 75px;
}

/* Updated logo styles */
.logo {
  font-size: 40px;
  font-weight: bold;
  margin-left: 20px;
  text-decoration: none; /* Remove underline */
  color: white; /* Set the text color to white */
  transition: color 0.3s ease, transform 0.3s ease; /* Add smooth transition for color and scale */
}

.logo:hover {
  color: purple; /* Change the color on hover */
  transform: scale(1.05); /* Add hover effect */
}

/* Styles for the background image and overall layout */
.artist-background {
  background-image: url("../Assets/Images/RedSmoke.png");
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
}

/* Footer styles */
footer {
  font-family: "Dancing";
  margin-top: 100px;
  background-color: rgba(
    0,
    0,
    0,
    0
  ); /* Use rgba to set a transparent background */
  color: white;
  padding: 20px 0;
}

.social-links {
  list-style: none;
  display: flex; /* Display the icons in a row */
  justify-content: center;
  margin-bottom: 20px;
}

.social-links li {
  margin: 0 15px;
}

.social-links a {
  text-decoration: none;
  color: white; /* Set the icon color to white */
  transition: opacity 0.3s ease;
  display: flex;
  align-items: center;
  font-size: 24px;
}

.social-links a i {
  margin-right: 10px;
}

/* Footer link hover effect */
.social-links a:hover {
  color: purple; /* Change the icon color to purple on hover */
  opacity: 0.7;
}

.container {
  font-family: "Dancing";
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container p {
  margin-bottom: 50px; /* Add margin to create space between the paragraph and labels */
}

/* Blog styles */
.blog {
  font-family: "Dancing";
  font-size: 25px;
  max-width: 600px; /* Adjust the maximum width as needed */
  margin: 0 auto; /* Center the blog section horizontally */
  padding: 20px;
  background-color: rgba(
    255,
    255,
    255,
    0.9
  ); /* Add a semi-transparent white background */
  border-radius: 10px; /* Add rounded corners to the blog section */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.blog-post {
  margin-bottom: 30px; /* Add space between blog posts */
  padding: 20px;
  background-color: #fff; /* White background for individual blog posts */
  border-radius: 5px; /* Add rounded corners to blog posts */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.blog-post h2 {
  font-size: 30px;
  font-weight: bold;
}

.blog-post .date {
  color: #999;
  font-style: italic;
}

.image-container {
  text-align: center; /* Center-align the content horizontally */
}

.image-container img {
  display: block; /* Make the image a block-level element to center it */
  margin: 0 auto; /* Center the image horizontally */
}

/* Mobile Styles */
@media screen and (max-width: 768px) {
  header {
    padding: 10px; /* Reduce header padding */
    text-align: center;
  }

  .logo {
    font-size: 30px; /* Decrease logo font size */
    text-align: center;
    margin-right: 20px;
  }

  .social-links {
    text-align: center; /* Center the list horizontally */
  }

  .social-links li {
    display: inline-block; /* Make list items appear in a horizontal line */
    margin: 0 10px; /* Add margin around each social icon */
  }

  footer {
    padding: 10px; /* Reduce footer padding */
    font-size: 13px;
    margin-top: 250px;
  }
}

.video-container {
  width: 100%;
  max-width: 560px;
  margin: 0 auto; /* Center the video on the page */
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.streaming-links {
  margin-top: 15px;
}

.streaming-links ul {
  list-style-type: none;
  padding: 0;
}

.streaming-links li {
  margin-bottom: 5px;
}

.streaming-links a {
  text-decoration: none;
  color: #007bff; /* Customize link color */
}

.streaming-links a:hover {
  text-decoration: underline;
}
